@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@font-face{
  font-family: AppleGaramond;
  src: url(./assets//AppleGaramond.ttf);
}

@font-face{
  font-family: FranklinGoth;
  src: url(./assets/FranklinGothic-Medium.otf);
}

* {
  font-family: "Didact Gothic";
}

body {
  background-color: black;
}

#root {
  overflow-x: hidden;
}

/* nav css*/

#logo-img {
  width: 8rem;
}

/* homepage css*/

#hero-img{
  height: 100vh;
  width: 100vw;
}

.err {
  color: rgb(225, 88, 88);
  font-size: 0.8rem;
  padding-top: 5px;
}

input[type="file"] {
  display: none;
}

.custom-upload {
  border: 2px solid white;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img{
  background-image: url(./assets/Hero.png);
  background-repeat: no-repeat;
    height: 400px;
    width: 100vw;
    background-size: cover;
}