@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@font-face{
  font-family: AppleGaramond;
  src: url(./assets//AppleGaramond.ttf);
}

@font-face{
  font-family: FranklinGoth;
  src: url(./assets/FranklinGothic-Medium.otf);
}

* {
  font-family: "FranklinGoth";
}

body {
  background-color: black;
}

#root {
  overflow-x: hidden;
}

/* nav css*/

#logo-img {
  width: 8rem;
}

/* homepage css*/

#hero-img{
  height: 100vh;
  width: 100vw;
}

.err {
  color: rgb(225, 88, 88);
  font-size: 0.8rem;
  padding-top: 5px;
}


.hero-img{
  background-image: url(./assets/Hero.png);
  background-repeat: no-repeat;
    height: 400px;
    width: 100vw;
    background-size: cover;
}