*{
    margin: 0;
    padding: 0;
}
#root {
    height: 100vh;
    width: 100vw;
    /* background: rgb(129, 129, 129);
    background: linear-gradient(90deg, rgba(129, 129, 129, 1) 0%, rgba(73, 73, 73, 1) 0%, rgba(43, 43, 43, 1) 0%, rgba(39, 39, 39, 1) 0%, rgba(33, 33, 33, 1) 2%, rgba(30, 30, 30, 1) 7%, rgba(22, 22, 22, 1) 20%, rgba(0, 0, 0, 1) 50%, rgba(22, 22, 22, 1) 80%, rgba(30, 30, 30, 1) 93%, rgba(33, 33, 33, 1) 98%, rgba(39, 39, 39, 1) 100%, rgba(43, 43, 43, 1) 100%, rgba(73, 73, 73, 1) 100%, rgba(129, 129, 129, 1) 100%); */
    background: black;
}
@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ffffff50;
        border-radius: 10px;
    }
}
